@model WorkplaceManager.ViewModels.ManagerIndexVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .projectSection{
        border-width:2px; 
        border-style:solid; 
        border-color: #EB6864; 
        border-radius: 25px; 
        padding: 12px 5px 5px 20px;
    }
    .employeeSection{
        border-width:2px;
        border-style:solid;
        border-color: #EB6864;
        border-radius: 15px;
        padding: 10px 25px 10px 15px;
    }
    .modal{
        background-color: rgba(0, 0, 0, .5);
    }
    .modal-content {
        background-color: #EB6864;
        border:none;
    }
</style>

<div class="row">
    <div class="col-md-2">
        <h1>Employees</h1>
        <a style="margin-bottom: 10px;" class="btn btn-info" asp-action="CreateEmployee">Add New Employee</a>
        @if (Model.Employees.Count == 0)
        {
            <h5>No Employees Added Yet!</h5>
        }
        else
        {
            @foreach (Employee employee in Model.Employees)
            {
                <div class="row employeeSection">
                    <div>
                        <h6>@employee.FirstName</h6>
                    </div>
                    <br />
                    <div>
                        @if (employee.AssignedJobs.Count == 0)
                        {
                            <button type="button" class="btn btn-secondary" title="Assigned Jobs" data-toggle="popover" data-placement="right" data-content="No Assigned Jobs!" data-original-title="Assigned Jobs">Assigned Jobs</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-secondary" title="Assigned Jobs" data-toggle="popover" data-placement="right" data-content="@string.Join(",", employee.AssignedJobs.Select(j => j.Name))" data-original-title="Assigned Jobs">Assigned Jobs</button>
                        }
                    </div>
                </div>
                <br />
            }
        }
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <h1>Projects</h1>
        <a style="margin-bottom:10px;" class="btn btn-info" asp-action="Create" asp-controller="Projects">Add New Project</a>
        @foreach (Project project in Model.Projects)
        {
            <div class="row projectSection">
                <div class="col-md-3">
                    <div class="row">
                        <h4>@project.Name</h4>
                    </div>
                    <div class="row">
                        <h5>@project.Deadline.Value.ToString("d")</h5>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="'@project.PercentComplete'" aria-valuemin="0" aria-valuemax="100" style="width: @project.PercentComplete%"></div>
                    </div>
                </div>
                <div class="col-md-3"></div>

                <div class="col-md-6">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem; ">
                        <div class="card-header">Jobs</div>
                        <div class="card-body">
                            @foreach (Job job in project.Jobs)
                            {
                                //MODAL POPUP MENU TO ASSIGN JOBS
                                <div id="modal@(job.JobId)" class="modal">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Assigning Tasks</h5>
                                                <button type="button" id="close@(job.JobId)" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="btn-group" role="group" aria-label="Employees">
                                                    <button type="button" class="btn btn-secondary">Choose Employee</button>
                                                    <div class="btn-group" role="group">
                                                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                            @foreach (Employee employee in Model.Employees)
                                                            {
                                                                <a class="dropdown-item" asp-action="AssignEmployeeJob" asp-route-employeeId="@employee.EmployeeId" asp-route-jobId="@job.JobId">@employee.FirstName</a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <a style="color:white;" asp-action="Details" asp-controller="Jobs" asp-route-id="@job.JobId">@job.Name</a>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@job.Deadline.Value.ToString("d")</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="custom-control custom-checkbox">
                                            @if (job.IsComplete == true)
                                            {
                                                <input type="checkbox" class="custom-control-input" id="taskComplete" checked="checked" disabled="">
                                                <label style="color:white;" class="custom-control-label" for="taskComplete">Complete</label>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="custom-control-input" id="taskComplete" disabled="">
                                                <label style="color:white;" class="custom-control-label" for="taskComplete">Job Incomplete</label>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-secondary" onclick="openModal(@job.JobId)" type="button">Assign Employee</button>
                                    </div>
                                </div>
                                <hr />
                            }
                            <a style="position: absolute; bottom:0; right:0;" class="btn btn-info" asp-action="Create" asp-controller="Jobs" asp-route-projectId="@project.ProjectId">Add Job</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        }
        <div class="row">
        </div>
    </div>
</div>

<script>
    function SaveCheckChange(jobId) {
        console.log(jobId);
        window.location.href = '@Url.Action("UpdateJob", "Jobs")' + '/' + jobId;
    }

    function PlaceJobsInString(jobNames) {
        var names = "";
        for (var i = 0; i < jobNames.Length; i++) {
            if (names == "") {
                names = jobNames[i];
            }
            else {
                names = `${names} \n ${jobNames[i]}`;
            }
        }
        return names;
    }

    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });

    function openModal(jobId) {
        var modal = document.getElementById(`modal${jobId}`);
        var span = document.getElementById(`close${jobId}`);

        modal.style.display = "block";

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>
