@model WorkplaceManager.ViewModels.JobDetailsVM

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    .modal{
        background-color: rgba(0, 0, 0, .5);
    }
    .modal-content {
        background-color: #EB6864;
        border:none;
        color:white;
    }
</style>

<h1>Job Details</h1>

<div class="row">
    <div class="col-md-6">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.Deadline)
            </dt>
            <dd class="col-sm-10">
                @Model.Job.Deadline.Value.ToShortDateString()
            </dd>
            <dt class="col-sm-2">
                Assigned Employee
            </dt>
            @if (Model.AssignedEmployee == null)
            {
                <dd class="col-sm-10">
                    No Employee Assigned Yet!
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    @Model.AssignedEmployee.FirstName
                </dd>
            }

        </dl>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Subtasks</div>
            <div class="card-body">
                @if (Model.Subtasks.Count == 0)
                {
                    <p>No Subtasks Added!</p>
                }
                else
                {
                    @foreach (Subtask subtask in Model.Subtasks)
                    {
                        <div id="deleteModal@(subtask.SubtaskId)" class="modal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Create new Subtask</h5>
                                        <button type="button" class="close@(subtask.SubtaskId)" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Are you sure you want to delete this subtask?</h5>
                                        <a class="btn btn-info" asp-action="DeleteSubtask" asp-controller="Subtasks" asp-route-id="@subtask.SubtaskId">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox">
                                    @if (subtask.IsComplete == true)
                                    {
                                        <input style="color:white;" type="checkbox" class="custom-control-input" id="taskComplete" checked="checked" disabled="">
                                        <label style="color:white;" class="custom-control-label" for="taskComplete">Complete</label>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="custom-control-input" id="taskComplete" disabled="">
                                        <label style="color:white;" class="custom-control-label" for="taskComplete">Job Incomplete</label>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>@subtask.Name</p>
                                <a class="btn btn-secondary" onclick="confirmDelete(@subtask.SubtaskId)">Delete Subtask</a>
                            </div>
                        </div>
                        <hr />
                    }
                }
            </div>
        </div>

        <!--Create modal for adding new subtasks-->
        <div id="createModal" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create new Subtask</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Create" asp-controller="Subtasks" asp-route-jobId="@Model.Job.JobId" method="post">
                            <div class="form-group">
                                <label for="subtaskName" class="control-label">Subtask Name</label>
                                <input type="text" name="subtaskName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Button to open modal-->
        <button id="createBtn" class="btn btn-info" type="button">Add New Subtask</button>
    </div>
</div>
<div class="row">
    <div class="btn-group" role="group">
        <a class="btn btn-info" asp-controller="Home" asp-action="Index">Back to List</a>
        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Job.JobId">Edit</a>
        <a class="btn btn-info" asp-action="Delete" asp-route-id="@Model.Job.JobId">Delete</a>
    </div>
</div>

<script>
    function confirmDelete(subtaskId) {
        var modal = document.getElementById(`deleteModal${subtaskId}`);

        var span = document.getElementsByClassName(`close${subtaskId}`)[0];

        modal.style.display = "block";

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }

    var btn = document.getElementById("createBtn");

    var modal = document.getElementById("createModal");

    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
