@model WorkplaceManager.Models.Manager

@{
    ViewBag.Title = "DetailsForManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DetailsForManager</h1>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Email)
        </dd>
        <dt class = "col-sm-2">
            Password
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.password
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-controller="Managers" asp-route-id="@Model.ManagerId">Edit</a> |
    <a class="btn btn-info" asp-action="Index" asp-controller="SeniorManagers">Back to Home</a>
</div>
